{
  "openapi": "3.1.0",
  "info": {
    "title": "Enode API",
    "version": "2024-10-01",
    "description": "The Enode API is designed to make smart charging applications easy to develop. We provide an abstraction layer that reduces the complexity when extracting vehicle data and sending commands to vehicles from a variety of manufacturers.\nThe API has a RESTful architecture and utilizes OAuth2 authorization.",
    "license": {
      "name": "Enode Commercial License",
      "url": "https://enode.io"
    }
  },
  "tags": [
    {
      "name": "Chargers",
      "description": "EV Chargers provide charging data and can be controlled via [Control Charging](/api/reference#controlChargerCharging) and [Schedules](/docs/scheduling)"
    },
    {
      "name": "Interventions",
      "description": "Endpoints that return information about interventions. More information and examples are available in the [Interventions](/docs/interventions) guide."
    },
    {
      "name": "Locations",
      "description": "Locations are used to assign devices to a geographical group. This is useful when running schedules, smart charging, or smart heating, as target behavior usually depends on a common locality of demand (charging, heating, cooling, etc.) and supply (tariff, battery, inverter, etc.) of energy."
    },
    {
      "name": "Experimental",
      "description": "Endpoint is not stable and may change without notice. Do not use in production applications."
    },
    {
      "name": "HVAC",
      "description": "HVAC units (heaters, heat pumps, air conditioning, thermostats, etc.) are controlled by altering the mode & target setpoints. This can be done directly using the [Set Permanent Hold](/api/reference#postSetHvacPermanentHold) endpoint, [Return to Schedule](/api/reference#postSetHvacFollowSchedule), or via [Schedules](/docs/scheduling)."
    },
    {
      "name": "Me",
      "description": "The `Me` endpoint returns metadata about the authenticated User."
    },
    {
      "name": "Schedules",
      "description": "Endpoints to manage schedules for Vehicles, Chargers and HVACs. \n\nMore information and examples are available in the [Scheduling](/docs/scheduling) guide."
    },
    {
      "name": "Service Health",
      "description": "Endpoints that return information about the health of Enode and our integrations."
    },
    {
      "name": "Solar inverters",
      "description": "Solar inverters can be queried for current production state"
    },
    {
      "name": "Statistics",
      "description": "Endpoints returning timeseries data collected from linked devices."
    },
    {
      "name": "Tariffs",
      "description": "Use the Tariffs API to submit pricing information to Enode. These prices will be preferred over market prices in Enode's smart products, like [Smart Charging](https://developers.enode.com/api/reference#updateVehicleSmartChargingPolicy), and will be used to calculate costs in [Statistics](https://developers.enode.com/api/reference#getChargingStatistics)."
    },
    {
      "name": "User Management",
      "description": "Endpoints used to link and unlink users or vendors."
    },
    {
      "name": "Vehicles",
      "description": "EVs provide charge, location, and odometer data. Vehicles can be controlled either directly using the [Control Charging](/api/reference#postVehiclesVehicleidCharging) endpoint, or through [Smart Charging](/docs/smart-charging/introduction) and [Schedules](/docs/scheduling)."
    },
    {
      "name": "Webhooks",
      "description": "Webhooks are a mechanism that allows your server to receive notifications of events from the Enode system.\n\nSee the related guide for more information about timeouts, failures, and retry logic: [Using Webhooks](/docs/webhooks)"
    },
    {
      "name": "Beta",
      "description": "Endpoint is in beta and may change without notice."
    },
    {
      "name": "Meters",
      "description": "The `Meter` object represents a unit responsible for measuring energy usage. It provides detailed information about the meter itself and the energy consumption data it records."
    },
    {
      "name": "Batteries",
      "description": "The `Battery` object represents a residential energy storage unit, like a Tesla Powerwall or Enphase IQ. It offers detailed insights into the battery's operation and allows you to instruct the battery on handling its stored energy."
    }
  ],
  "servers": [
    {
      "url": "https://enode-api.production.enode.io"
    }
  ],
  "components": {
    "securitySchemes": {
      "ClientAccessToken": {
        "type": "oauth2",
        "description": "A `ClientAccessToken` is obtained via the [OAuth 2.0 Client Credentials grant](https://www.oauth.com/oauth2-servers/access-tokens/client-credentials/) and carries authorization to access all functionalities and data in your Enode account.\nFull details at [The ClientAccessToken](/api/reference#getting-an-access-token)\n",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://oauth.production.enode.io/oauth2/token",
            "scopes": {}
          }
        }
      }
    },
    "schemas": {
      "BatteryVendor": {
        "type": "string",
        "enum": [
          "TESLA",
          "ENPHASE",
          "GIVENERGY",
          "HUAWEI",
          "SOLAREDGE",
          "SMA",
          "FOXESS",
          "SOLAX",
          "SOLIS"
        ],
        "description": "Machine-friendly name of the vendor. Use this in API requests.",
        "example": "TESLA"
      },
      "BatteryChargeState": {
        "type": "object",
        "properties": {
          "status": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "CHARGING",
              "DISCHARGING",
              "IDLE",
              "FAULT",
              "UNKNOWN"
            ],
            "description": "The power delivery state of the battery.",
            "example": "CHARGING"
          },
          "batteryCapacity": {
            "type": [
              "number",
              "null"
            ],
            "description": "Battery capacity in kWh.",
            "example": 13.5
          },
          "batteryLevel": {
            "type": [
              "number",
              "null"
            ],
            "description": "Remaining battery charge level in percent.",
            "example": 80
          },
          "chargeRate": {
            "type": [
              "number",
              "null"
            ],
            "description": "The current charge rate in kW. A positive value indicates that the battery is charging.",
            "example": 4.6
          },
          "dischargeLimit": {
            "type": [
              "number",
              "null"
            ],
            "description": "Minimum charge level for a battery, expressed as a percentage. Batteries will not discharge below this user-set reserve level except in emergency power situations.",
            "example": 20
          },
          "lastUpdated": {
            "type": [
              "string",
              "null"
            ],
            "description": "Time of last received charge state update",
            "format": "date-time",
            "example": "2020-04-07T17:04:26Z"
          }
        },
        "required": [
          "status",
          "batteryCapacity",
          "batteryLevel",
          "chargeRate",
          "dischargeLimit",
          "lastUpdated"
        ],
        "additionalProperties": false,
        "description": "Latest information about the battery. `null` values indicate we are unable to determine a value for the field based on the information coming from the vendor."
      },
      "BatteryConfig": {
        "type": "object",
        "properties": {
          "operationMode": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "IMPORT_FOCUS",
              "EXPORT_FOCUS",
              "TIME_OF_USE",
              "SELF_RELIANCE",
              "IDLE",
              "UNKNOWN"
            ],
            "description": "The current operation mode of the battery.\n\n * `SELF_RELIANCE`: Minimizes household reliance on the grid. Prioritizes using own energy from solar or battery for household consumption before importing from grid. Energy may be exported to the grid from solar, depending on excess solar and your user's settings in the OEM app.\n * `TIME_OF_USE`: Maximizes energy cost savings in accordance with a user-defined schedule matching a utility rate plan. Energy may be consumed from solar, battery, or grid sources, depending on the current prices and your user's settings in the OEM app. Energy may be exported to the grid from solar or battery sources, depending on current prices and your user's settings in the OEM app.\n * `IMPORT_FOCUS`: Prioritizes charging the battery. Uses excess solar energy for charging and will charge from grid if possible. Leveraged energy sources depend on the configuration of the battery. Note: Focus modes target a certain battery behavior but are ultimately internal to the battery. Actual behavior might differ from the focus mode. \n * `EXPORT_FOCUS`: Prioritizes discharging energy stored in the battery back to the household and any excess to the grid. Grid exports often depend on local regulation and might require agreements with grid providers to be supported.  Note: Focus modes target a certain battery behavior but are ultimately internal to the battery. Actual behavior might differ from the focus mode.\n * `IDLE`: Prevents the battery from charging or discharging. The battery remains inactive and maintains its current state of charge, even if there is available solar generation or energy demand from household consumption.\n * `UNKNOWN`: The mode of the battery is currently unknown. It might be possible to switch out of this mode and into one of the known modes. Actively returning to this mode is not possible."
          },
          "lastUpdated": {
            "type": [
              "string",
              "null"
            ],
            "description": "Time of last received configuration update",
            "format": "date-time",
            "example": "2020-04-07T17:04:26Z"
          }
        },
        "required": [
          "operationMode",
          "lastUpdated"
        ],
        "additionalProperties": false
      },
      "Brand": {
        "type": "string",
        "description": "A formatted and properly cased OEM brand name, suitable for reading by humans. May contain special characters.",
        "example": "Tesla"
      },
      "BatteryInformation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Battery vendor ID",
            "example": "7deb27f8-794f-467b-855e-5c61dd9f2cb3"
          },
          "brand": {
            "$ref": "#/components/schemas/Brand"
          },
          "model": {
            "type": "string",
            "description": "Battery model",
            "example": "Powerwall"
          },
          "siteName": {
            "type": "string",
            "description": "Name of the site, as set by the user on the device/vendor. If no user-specified name is available, we construct a fallback name using the vendor/device/model names.",
            "example": "Powerwall Home"
          },
          "installationDate": {
            "type": "string",
            "description": "Battery installation date",
            "format": "date-time",
            "example": "2020-04-07T17:04:26Z"
          }
        },
        "required": [
          "id",
          "brand",
          "model",
          "siteName",
          "installationDate"
        ],
        "additionalProperties": false,
        "description": "Descriptive information about the battery"
      },
      "Capability": {
        "type": "object",
        "properties": {
          "isCapable": {
            "type": "boolean",
            "description": "The entity is fully capable of providing this data or functionality. If false, support is partial or missing.",
            "example": false
          },
          "interventionIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid",
              "example": "4eaeb363-296d-4ccc-a973-7805e6f400bd",
              "x-format": {
                "guid": true
              }
            },
            "description": "IDs of interventions the user can make to alter the availability of this capability. Please refer to [the interventions guide](/docs/interventions#accessing-interventions-via-our-api) for more information."
          }
        },
        "required": [
          "isCapable",
          "interventionIds"
        ],
        "additionalProperties": false
      },
      "BatteryCapabilities": {
        "type": "object",
        "properties": {
          "exportFocus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Capability"
              },
              {
                "description": "Supports EXPORT_FOCUS operation mode."
              }
            ]
          },
          "importFocus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Capability"
              },
              {
                "description": "Supports IMPORT_FOCUS operation mode."
              }
            ]
          },
          "timeOfUse": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Capability"
              },
              {
                "description": "Supports TIME_OF_USE operation mode."
              }
            ]
          },
          "selfReliance": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Capability"
              },
              {
                "description": "Supports SELF_RELIANCE operation mode."
              }
            ]
          },
          "idle": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Capability"
              },
              {
                "description": "Supports IDLE operation mode."
              }
            ]
          }
        },
        "required": [
          "exportFocus",
          "importFocus",
          "timeOfUse",
          "selfReliance",
          "idle"
        ],
        "additionalProperties": false,
        "description": "A collection of descriptors that describe the capabilities of this specific battery"
      },
      "BatteryLocation": {
        "type": "object",
        "properties": {
          "id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "ID of the location the battery is currently positioned at (if any).",
            "example": "8d90101b-3f2f-462a-bbb4-1ed320d33bbe",
            "x-format": {
              "guid": true
            }
          },
          "longitude": {
            "type": [
              "number",
              "null"
            ],
            "description": "Longitude in degrees",
            "example": 10.7197486
          },
          "latitude": {
            "type": [
              "number",
              "null"
            ],
            "description": "Latitude in degrees",
            "example": 59.9173985
          },
          "lastUpdated": {
            "type": [
              "string",
              "null"
            ],
            "description": "Time of last received location state update",
            "format": "date-time",
            "example": "2020-04-07T17:04:26Z"
          }
        },
        "required": [
          "id",
          "longitude",
          "latitude",
          "lastUpdated"
        ],
        "additionalProperties": false,
        "description": "Battery's GPS coordinates"
      },
      "Battery": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the battery object",
            "example": "54d827e1-8355-4fed-97b5-55940d1d09ba"
          },
          "userId": {
            "type": "string",
            "description": "The ID of the user that linked this battery.",
            "example": "4f6fecd0-bdae-49be-b6e8-ee442e1e3da9"
          },
          "vendor": {
            "$ref": "#/components/schemas/BatteryVendor"
          },
          "lastSeen": {
            "type": "string",
            "description": "The last time Enode successfully communicated with the vendor or when the battery was initially linked.",
            "format": "date-time",
            "example": "2020-04-07T17:04:26Z"
          },
          "isReachable": {
            "type": "boolean",
            "description": "Indicates whether Enode can currently access live data from the battery. If the battery is not reachable, data updates will be delayed."
          },
          "chargeState": {
            "$ref": "#/components/schemas/BatteryChargeState"
          },
          "config": {
            "$ref": "#/components/schemas/BatteryConfig"
          },
          "information": {
            "$ref": "#/components/schemas/BatteryInformation"
          },
          "capabilities": {
            "$ref": "#/components/schemas/BatteryCapabilities"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Scopes that the user has granted for this battery.",
            "example": [
              "battery:control:operation_mode",
              "battery:read:data",
              "battery:read:location"
            ]
          },
          "location": {
            "$ref": "#/components/schemas/BatteryLocation"
          }
        },
        "required": [
          "id",
          "userId",
          "vendor",
          "lastSeen",
          "isReachable",
          "chargeState",
          "config",
          "information",
          "capabilities",
          "scopes",
          "location"
        ],
        "additionalProperties": false,
        "description": "Battery object"
      },
      "PaginationCursors": {
        "type": "object",
        "properties": {
          "after": {
            "type": [
              "string",
              "null"
            ],
            "example": "MjAyMy0wNy0xOFQxMDowODowMi4zNzNa"
          },
          "before": {
            "type": [
              "string",
              "null"
            ],
            "example": "MjAyMy0wNi0xNlQwOTowMzowMS4yNjJa"
          }
        },
        "required": [
          "after",
          "before"
        ],
        "additionalProperties": false,
        "description": "Cursors to the pages before and after current page. See the [Pagination](/api/reference#pagination) section for reference."
      },
      "PaginatedBatteryList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Battery"
            },
            "description": "Paginated list of batteries"
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationCursors"
          }
        },
        "required": [
          "data",
          "pagination"
        ],
        "additionalProperties": false,
        "description": "Paginated response of batteries"
      },
      "setBatteryOperationModePayload": {
        "type": "object",
        "properties": {
          "operationMode": {
            "type": "string",
            "enum": [
              "IMPORT_FOCUS",
              "EXPORT_FOCUS",
              "TIME_OF_USE",
              "SELF_RELIANCE",
              "IDLE"
            ],
            "description": "Desired operation mode of the battery.\n\n * `SELF_RELIANCE`: Minimizes household reliance on the grid. Prioritizes using own energy from solar or battery for household consumption before importing from grid. Energy may be exported to the grid from solar, depending on excess solar and your user's settings in the OEM app.\n * `TIME_OF_USE`: Maximizes energy cost savings in accordance with a user-defined schedule matching a utility rate plan. Energy may be consumed from solar, battery, or grid sources, depending on the current prices and your user's settings in the OEM app. Energy may be exported to the grid from solar or battery sources, depending on current prices and your user's settings in the OEM app.\n * `IMPORT_FOCUS`: Prioritizes charging the battery. Uses excess solar energy for charging and will charge from grid if possible. Leveraged energy sources depend on the configuration of the battery. Note: Focus modes target a certain battery behavior but are ultimately internal to the battery. Actual behavior might differ from the focus mode. \n * `EXPORT_FOCUS`: Prioritizes discharging energy stored in the battery back to the household and any excess to the grid. Grid exports often depend on local regulation and might require agreements with grid providers to be supported.  Note: Focus modes target a certain battery behavior but are ultimately internal to the battery. Actual behavior might differ from the focus mode.\n * `IDLE`: Prevents the battery from charging or discharging. The battery remains inactive and maintains its current state of charge, even if there is available solar generation or energy demand from household consumption.",
            "example": "IMPORT_FOCUS"
          }
        },
        "required": [
          "operationMode"
        ],
        "additionalProperties": false,
        "description": "Target battery operation mode"
      },
      "ActionState": {
        "type": "string",
        "enum": [
          "PENDING",
          "CONFIRMED",
          "FAILED",
          "CANCELLED"
        ],
        "description": "The real-time status of an action executed on a target. \n\n * `PENDING`: The initial state. Enode is actively sending commands and monitoring the target for changes. \n * `CONFIRMED`: Successful transition of the target to the desired state. \n * `FAILED`: The target did not respond to the action before timing out. Enode has ceased sending additional commands. \n * `CANCELLED`: A required precondition was not met during the action's timeout window or another action has been sent to the target, overriding this one."
      },
      "OperationModeAction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The ID of the action.",
            "example": "4eaeb363-296d-4ccc-a973-7805e6f400bd",
            "x-format": {
              "guid": true
            }
          },
          "userId": {
            "type": "string",
            "description": "The ID of the user that owns the target of this action.",
            "example": "d5bd4771-864e-4ae5-b913-dfb5cdcd5772"
          },
          "createdAt": {
            "type": "string",
            "description": "Time when this action was created",
            "format": "date-time",
            "example": "2020-04-07T17:04:26Z"
          },
          "updatedAt": {
            "type": "string",
            "description": "Time when this action was last updated",
            "format": "date-time",
            "example": "2020-04-07T17:04:26Z"
          },
          "completedAt": {
            "type": [
              "string",
              "null"
            ],
            "description": "Time when the action transitioned to a non-pending state.",
            "format": "date-time",
            "example": "2020-04-07T17:04:26Z"
          },
          "state": {
            "$ref": "#/components/schemas/ActionState"
          },
          "targetId": {
            "type": "string",
            "description": "ID of the battery which this action is controlling.",
            "example": "ac03a513-5494-4e1c-9dd7-2a29dc024312"
          },
          "targetType": {
            "type": "string",
            "enum": [
              "battery"
            ]
          },
          "targetState": {
            "$ref": "#/components/schemas/setBatteryOperationModePayload"
          }
        },
        "required": [
          "id",
          "userId",
          "createdAt",
          "updatedAt",
          "completedAt",
          "state",
          "targetId",
          "targetType",
          "targetState"
        ],
        "additionalProperties": false,
        "title": "Battery Operation Mode Action"
      },
      "Problem": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "A URI reference that identifies the problem type."
          },
          "title": {
            "type": "string",
            "description": "A short, human-readable summary of the problem type."
          },
          "detail": {
            "type": "string",
            "description": "A human-readable explanation specific to this occurrence of the problem."
          },
          "issues": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {}
            },
            "description": "A list of validation issues which ocurred while validating some component of the network payload."
          }
        },
        "required": [
          "type",
          "title",
          "detail"
        ],
        "description": "Standard Problem Error",
        "example": {
          "type": "https://developers.enode.com/api/problems/not-found",
          "title": "Not Found",
          "detail": "The requested asset wasn't found."
        }
      },
      "ChargerVendor": {
        "type": "string",
        "enum": [
          "ZAPTEC",
          "EASEE",
          "WALLBOX",
          "EO",
          "CHARGEAMPS",
          "EVBOX",
          "GOE",
          "CHARGEPOINT",
          "ENELX",
          "TESLA",
          "OHME",
          "GARO",
          "SCHNEIDER",
          "PODPOINT",
          "KEBA",
          "HYPERVOLT",
          "MYENERGI",
          "HEIDELBERG",
          "ALFEN"
        ],
        "description": "Machine-friendly name of the vendor. Use this in API requests.",
        "example": "ZAPTEC"
      },
      "ChargerPowerDeliveryState": {
        "type": "string",
        "enum": [
          "UNKNOWN",
          "UNPLUGGED",
          "PLUGGED_IN:INITIALIZING",
          "PLUGGED_IN:CHARGING",
          "PLUGGED_IN:STOPPED",
          "PLUGGED_IN:NO_POWER",
          "PLUGGED_IN:FAULT",
          "PLUGGED_IN:DISCHARGING"
        ],
        "description": "The current state of power delivery between the vehicle and charger.\n\n * `UNKNOWN`: The state of power delivery is currently unknown. \n * `UNPLUGGED`: The vehicle is not connected to the charger. \n * `PLUGGED_IN:INITIALIZING`: The charging station is preparing to deliver power to the vehicle. It is expected for this state to shortly transition into PLUGGED_IN:CHARGING. \n * `PLUGGED_IN:CHARGING`: The charger is actively delivering power to the vehicle, causing the battery level to increase. \n * `PLUGGED_IN:STOPPED`: The vehicle is plugged in, but the charger has been stopped. It is possible to transition into a charging state by sending a start command.\n * `PLUGGED_IN:NO_POWER`: The charger attempted to initialize charging, however no external power was accepted by the vehicle. It is not possible to transition into a charging state with a remote command until there is some user intervention to resolve the issue. \n * `PLUGGED_IN:FAULT`: A malfunction in the charging process is preventing power from being delivered. Possible causes include a charging cable not being properly locked, extreme temperatures, or malfunctions in either the charging station or the vehicle's internal system. It is not possible to transition into a charging state with a remote command until there is some user intervention to resolve the issue.\n * `PLUGGED_IN:DISCHARGING`: The charger is actively discharging by giving power to the home/grid, causing the battery level to decrease.",
        "example": "UNPLUGGED"
      },
      "ChargerChargeState": {
        "type": "object",
        "properties": {
          "isPluggedIn": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Indicates whether the charger has a vehicle plugged into it (regardless of whether that vehicle is actually charging)"
          },
          "isCharging": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Indicates whether the charger is currently delivering power to the vehicle and actively charging its battery."
          },
          "chargeRate": {
            "type": [
              "number",
              "null"
            ],
            "description": "The current charge rate in kW.\n\nThis property is only available when the charger is actively charging a vehicle, and is `null` any other time."
          },
          "lastUpdated": {
            "type": [
              "string",
              "null"
            ],
            "description": "Time of latest charge state update",
            "format": "date-time",
            "example": "2020-04-07T17:04:26Z"
          },
          "maxCurrent": {
            "type": [
              "number",
              "null"
            ],
            "description": "Desired max current in amperes, if set"
          },
          "powerDeliveryState": {
            "$ref": "#/components/schemas/ChargerPowerDeliveryState"
          }
        },
        "required": [
          "isPluggedIn",
          "isCharging",
          "chargeRate",
          "lastUpdated",
          "maxCurrent",
          "powerDeliveryState"
        ],
        "additionalProperties": false,
        "description": "Latest information about the charger. `null` values indicate we are unable to determine a value for the field based on the information coming from the vendor."
      },
      "ChargerCapabilities": {
        "type": "object",
        "properties": {
          "information": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Capability"
              },
              {
                "description": "Full availability of information data."
              }
            ]
          },
          "chargeState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Capability"
              },
              {
                "description": "Full availability of chargeState data."
              }
            ]
          },
          "startCharging": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Capability"
              },
              {
                "description": "Supports START charging command."
              }
            ]
          },
          "stopCharging": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Capability"
              },
              {
                "description": "Supports STOP charging command."
              }
            ]
          },
          "setMaxCurrent": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Capability"
              },
              {
                "description": "Ability to set the max charge rate."
              }
            ]
          }
        },
        "required": [
          "information",
          "chargeState",
          "startCharging",
          "stopCharging",
          "setMaxCurrent"
        ],
        "additionalProperties": false,
        "description": "A collection of descriptors that describe the capabilities of this specific charger"
      },
      "ChargerInformation": {
        "type": "object",
        "properties": {
          "brand": {
            "$ref": "#/components/schemas/Brand"
          },
          "model": {
            "type": "string",
            "description": "Charger model",
            "example": "Home"
          },
          "year": {
            "type": [
              "number",
              "null"
            ],
            "description": "Charger production year"
          },
          "serialNumber": {
            "type": "string",
            "description": "Charger serial number. Most chargers have this, but some do not expose it. When missing we default to a vendor provided ID, which may be visible to the end user in their app."
          }
        },
        "required": [
          "brand",
          "model",
          "year",
          "serialNumber"
        ],
        "description": "Descriptive information about the Charger"
      },
      "Charger": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Charger ID"
          },
          "userId": {
            "type": "string",
            "description": "The ID of the user that linked this charger."
          },
          "vendor": {
            "$ref": "#/components/schemas/ChargerVendor"
          },
          "lastSeen": {
            "type": "string",
            "description": "The last time Enode communicated with the charger.",
            "format": "date-time",
            "example": "2020-04-07T17:04:26Z"
          },
          "isReachable": {
            "type": "boolean",
            "description": "Indicates whether Enode can currently access live data from the charger. If the charger is not reachable, data updates will be delayed."
          },
          "chargeState": {
            "$ref": "#/components/schemas/ChargerChargeState"
          },
          "capabilities": {
            "$ref": "#/components/schemas/ChargerCapabilities"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Scopes that the user has granted for this charger.",
            "example": [
              "charger:control:charging",
              "charger:read:data"
            ]
          },
          "information": {
            "$ref": "#/components/schemas/ChargerInformation"
          },
          "location": {
            "type": "object",
            "properties": {
              "id": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "uuid",
                "description": "ID of the location the charger is currently positioned at (if any).",
                "example": "4eaeb363-296d-4ccc-a973-7805e6f400bd",
                "x-format": {
                  "guid": true
                }
              },
              "lastUpdated": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Time of last received location state update",
                "format": "date-time",
                "example": "2020-04-07T17:04:26Z"
              }
            },
            "required": [
              "id",
              "lastUpdated"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "id",
          "userId",
          "vendor",
          "lastSeen",
          "isReachable",
          "chargeState",
          "capabilities",
          "scopes",
          "information",
          "location"
        ],
        "additionalProperties": false,
        "example": {
          "information": {
            "brand": "Zaptec",
            "model": "Pro",
            "serialNumber": "1234567890",
            "year": null
          },
          "location": {
            "id": "2211e263-d6d4-d6d4-d6d4-dbdd77ec82b6",
            "lastUpdated": "2023-03-21T16:39:20.000Z"
          },
          "id": "2211e263-0362-4235-83f4-887bdf3ee414",
          "userId": "d381faac-5283-44a1-9eb1-36cab2ace670",
          "vendor": "ZAPTEC",
          "lastSeen": "2023-03-21T21:08:27.596Z",
          "isReachable": true,
          "chargeState": {
            "isPluggedIn": true,
            "isCharging": true,
            "chargeRate": 6.939,
            "lastUpdated": "2023-03-21T16:39:20.000Z",
            "maxCurrent": 16,
            "powerDeliveryState": "PLUGGED_IN:CHARGING"
          },
          "capabilities": {
            "information": {
              "isCapable": true,
              "interventionIds": []
            },
            "chargeState": {
              "isCapable": true,
              "interventionIds": []
            },
            "startCharging": {
              "isCapable": true,
              "interventionIds": []
            },
            "stopCharging": {
              "isCapable": true,
              "interventionIds": []
            },
            "setMaxCurrent": {
              "isCapable": false,
              "interventionIds": [
                "4eaeb363-296d-4ccc-a973-7805e6f400bd"
              ]
            }
          },
          "scopes": [
            "charger:control:charging",
            "charger:read:data"
          ]
        }
      },
      "PaginatedChargerList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Charger"
            },
            "description": "Paginated list of chargers"
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationCursors"
          }
        },
        "required": [
          "data",
          "pagination"
        ],
        "additionalProperties": false,
        "description": "Paginated response of chargers"
      },
      "ChargerUpdatePayload": {
        "type": "object",
        "properties": {
          "locationId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "example": "4eaeb363-296d-4ccc-a973-7805e6f400bd",
            "x-format": {
              "guid": true
            }
          }
        },
        "required": [
          "locationId"
        ],
        "additionalProperties": false
      },
      "ChargingAction": {
        "type": "string",
        "enum": [
          "START",
          "STOP"
        ]
      },
      "ChargeableVendorType": {
        "type": "string",
        "enum": [
          "vehicle",
          "charger"
        ]
      },
      "ChargingActionFailureReason": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "NO_RESPONSE",
              "FAILED_PRECONDITION",
              "CONFLICT",
              "NOT_FOUND",
              "UNNECESSARY",
              "REQUESTED_CANCELLATION"
            ],
            "description": "A machine-readable high level error category.\n\n * `NO_RESPONSE`: The chargeable device did not react to our charge commands within the action's timeout window.  \n * `FAILED_PRECONDITION`: The chargeable device did not meet all required preconditions for this action to be executed during the action's timeout window. \n * `UNNECESSARY`: The action was not carried out given that the device was already in the desired state. \n * `CONFLICT`: A newer action for this chargeable has been created. This action is now abandoned.  \n * `REQUESTED_CANCELLATION`: This action was cancelled by request of the controlling owner. The controlling owner may refer to another Enode entity which initiated the command, such as a schedule or smart override. \n * `NOT_FOUND`: The chargeable was deleted while the action was `PENDING`.\n"
          },
          "detail": {
            "type": "string",
            "description": "A human-readable explanation of why the charging action was unsuccessful.",
            "example": "The chargeable device remained unreachable."
          }
        },
        "required": [
          "type",
          "detail"
        ],
        "additionalProperties": false,
        "description": "Information about why was this action not executed successfully."
      },
      "ChargeAction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The ID of the action.",
            "example": "4eaeb363-296d-4ccc-a973-7805e6f400bd",
            "x-format": {
              "guid": true
            }
          },
          "userId": {
            "type": "string",
            "description": "The ID of the user that owns the target of this action.",
            "example": "d5bd4771-864e-4ae5-b913-dfb5cdcd5772"
          },
          "createdAt": {
            "type": "string",
            "description": "Time when this action was created",
            "format": "date-time",
            "example": "2020-04-07T17:04:26Z"
          },
          "updatedAt": {
            "type": "string",
            "description": "Time when this action was last updated",
            "format": "date-time",
            "example": "2020-04-07T17:04:26Z"
          },
          "completedAt": {
            "type": [
              "string",
              "null"
            ],
            "description": "Time when the action transitioned to a non-pending state.",
            "format": "date-time",
            "example": "2020-04-07T17:04:26Z"
          },
          "state": {
            "$ref": "#/components/schemas/ActionState"
          },
          "targetId": {
            "type": "string",
            "description": "ID of the target which this action is controlling.",
            "example": "bfbccded-8a1c-45a8-bbda-dcaeef29977a"
          },
          "targetType": {
            "$ref": "#/components/schemas/ChargeableVendorType"
          },
          "kind": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ChargingAction"
              },
              {
                "description": "The charging action to perform"
              }
            ]
          },
          "failureReason": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ChargingActionFailureReason"
              },
              {
                "type": [
                  "object",
                  "null"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "userId",
          "createdAt",
          "updatedAt",
          "completedAt",
          "state",
          "targetId",
          "targetType",
          "kind",
          "failureReason"
        ],
        "additionalProperties": false,
        "title": "Charge Action"
      },
      "TargetMaxCurrent": {
        "type": "object",
        "properties": {
          "maxCurrent": {
            "type": "number",
            "exclusiveMinimum": 0,
            "description": "Desired max current in ampere",
            "example": 10
          }
        },
        "required": [
          "maxCurrent"
        ],
        "additionalProperties": false,
        "description": "Target maximum current for entity"
      },
      "MaxCurrentAction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The ID of the action.",
            "example": "4eaeb363-296d-4ccc-a973-7805e6f400bd",
            "x-format": {
              "guid": true
            }
          },
          "userId": {
            "type": "string",
            "description": "The ID of the user that owns the target of this action.",
            "example": "d5bd4771-864e-4ae5-b913-dfb5cdcd5772"
          },
          "createdAt": {
            "type": "string",
            "description": "Time when this action was created",
            "format": "date-time",
            "example": "2020-04-07T17:04:26Z"
          },
          "updatedAt": {
            "type": "string",
            "description": "Time when this action was last updated",
            "format": "date-time",
            "example": "2020-04-07T17:04:26Z"
          },
          "completedAt": {
            "type": [
              "string",
              "null"
            ],
            "description": "Time when the action transitioned to a non-pending state.",
            "format": "date-time",
            "example": "2020-04-07T17:04:26Z"
          },
          "state": {
            "$ref": "#/components/schemas/ActionState"
          },
          "targetId": {
            "type": "string",
            "description": "ID of the entity which this action is controlling."
          },
          "targetType": {
            "$ref": "#/components/schemas/ChargeableVendorType"
          },
          "targetState": {
            "$ref": "#/components/schemas/TargetMaxCurrent"
          },
          "failureReason": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ChargingActionFailureReason"
              },
              {
                "type": [
                  "object",
                  "null"
                ]
              }
            ]
          }
        },
        "required": [
          "id",
          "userId",
          "createdAt",
          "updatedAt",
          "completedAt",
          "state",
          "targetId",
          "targetType",
          "targetState",
          "failureReason"
        ],
        "additionalProperties": false,
        "title": "Max Current Action"
      },
      "ChargerAction": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/ChargeAction"
          },
          {
            "$ref": "#/components/schemas/MaxCurrentAction"
          }
        ]
      },
      "HvacVendor": {
        "type": "string",
        "enum": [
          "TADO",
          "MILL",
          "ADAX",
          "ECOBEE",
          "SENSIBO",
          "HONEYWELL",
          "RESIDEO",
          "MITSUBISHI",
          "MICROMATIC",
          "NIBE",
          "PANASONIC",
          "TOSHIBA",
          "DAIKIN",
          "NEST",
          "FUJITSU",
          "BOSCH",
          "NETATMO"
        ],
        "description": "Machine-friendly name of the vendor. Use this in API requests.",
        "example": "ADAX"
      },
      "HvacMode": {
        "type": "string",
        "enum": [
          "UNKNOWN",
          "OFF",
          "AUTO",
          "COOL",
          "HEAT"
        ],
        "description": "The current state of the HVAC unit.\n\n * `UNKNOWN`: The mode of the HVAC unit is currently not available from the vendor or not supported by enode.\n * `OFF`: The HVAC unit is turned off.\n * `AUTO`: The HVAC unit will try to maintain the given setpoint by alternating between cooling and heating based on the ambient temperature\n * `COOL`: The HVAC unit will only cool to the given setpoint.\n * `HEAT`: The HVAC unit will only heat to the given setpoint",
        "example": "AUTO"
      },
      "HvacHoldType": {
        "type": "string",
        "enum": [
          "PERMANENT",
          "SCHEDULED"
        ]
      },
      "NullableTemperatureRange": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "min": {
            "type": [
              "number",
              "null"
            ],
            "description": "The minimum allowable temperature, inclusive."
          },
          "max": {
            "type": [
              "number",
              "null"
            ],
            "description": "The maximum allowable temperature, inclusive."
          }
        },
        "required": [
          "min",
          "max"
        ],
        "additionalProperties": false
      },
      "NullableTemperatureDifferenceRange": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "min": {
            "type": [
              "number",
              "null"
            ],
            "description": "The minimum allowable difference, inclusive."
          },
          "max": {
            "type": [
              "number",
              "null"
            ],
            "description": "The maximum allowable difference, inclusive."
          }
        },
        "required": [
          "min",
          "max"
        ],
        "additionalProperties": false
      },
      "PaginatedHVACList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "HVAC unit ID"
                },
                "userId": {
                  "type": "string",
                  "description": "The ID of the user that linked this hvac."
                },
                "vendor": {
                  "$ref": "#/components/schemas/HvacVendor"
                },
                "lastSeen": {
                  "type": "string",
                  "description": "The last time Enode successfully communicated with the vendor or when the HVAC unit was initially linked.",
                  "format": "date-time",
                  "example": "2020-04-07T17:04:26Z"
                },
                "isReachable": {
                  "type": "boolean",
                  "description": "Indicates whether Enode can currently access live data from the HVAC. If the HVAC is not reachable, data updates will be delayed."
                },
                "consumptionRate": {
                  "type": [
                    "number",
                    "null"
                  ],
                  "description": "The current rate of energy consumption in kW. An inactive HVAC will have a consumption rate of 0. HVACs not supporting consumption rate will report null. This value is currently only supported by a small number of devices."
                },
                "information": {
                  "type": "object",
                  "properties": {
                    "brand": {
                      "$ref": "#/components/schemas/Brand"
                    },
                    "model": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Device model name"
                    },
                    "displayName": {
                      "type": "string",
                      "description": "Name of the device, as set by the user on the device/vendor. If no user-specified name is available, we construct a fallback name using the vendor/device/model names."
                    },
                    "groupName": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Name of the group the device belongs to, as set by the user on the device/vendor. Groups are typically presented as \"rooms\" or \"zones\"."
                    },
                    "category": {
                      "type": "string",
                      "enum": [
                        "HEATING",
                        "COOLING",
                        "HEAT_PUMP",
                        "AGGREGATOR"
                      ],
                      "description": "Classification of the connected HVAC device.\n\n * `HEATING`: A direct heating device, such as an electric panel heater\n\n * `COOLING`: A direct cooling device, such as an air conditioner \n\n * `HEAT_PUMP`: An air-to-air heat pump capable of both heating and cooling\n\n * `AGGREGATOR`: A device that is capable of controlling various HVAC systems behind it, such as a smart thermostat"
                    }
                  },
                  "required": [
                    "brand",
                    "model",
                    "displayName",
                    "groupName",
                    "category"
                  ],
                  "additionalProperties": false,
                  "description": "Descriptive information about the HVAC unit"
                },
                "temperatureState": {
                  "type": "object",
                  "properties": {
                    "currentTemperature": {
                      "type": [
                        "number",
                        "null"
                      ],
                      "description": "Current air temperature reported by device in degrees Celsius."
                    },
                    "isActive": {
                      "type": "boolean",
                      "description": "Whether the HVAC unit is actively heating or cooling."
                    },
                    "lastUpdated": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Time of last temperature state update. Reflects when the OEM reported a change or Enode recorded a change in any field, whichever is newer",
                      "format": "date-time",
                      "example": "2020-04-07T17:04:26Z"
                    }
                  },
                  "required": [
                    "currentTemperature",
                    "isActive",
                    "lastUpdated"
                  ],
                  "additionalProperties": false,
                  "description": "Latest information about temperature. `null` values indicate we are unable to determine a value for the field based on the information coming from the vendor."
                },
                "thermostatState": {
                  "type": "object",
                  "properties": {
                    "mode": {
                      "$ref": "#/components/schemas/HvacMode"
                    },
                    "heatSetpoint": {
                      "type": [
                        "number",
                        "null"
                      ],
                      "description": "If mode allows, heat when `currentTemperature` falls below this point."
                    },
                    "coolSetpoint": {
                      "type": [
                        "number",
                        "null"
                      ],
                      "description": "If mode allows, cool when `currentTemperature` rises above this point."
                    },
                    "holdType": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/HvacHoldType"
                        },
                        {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "The duration the setpoints and mode are expected to be held. If `SCHEDULED`, the device is being controlled by an OEM schedule configured on the device."
                        }
                      ]
                    },
                    "lastUpdated": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Time of last thermostat state update. Reflects when the OEM reported a change or Enode recorded a change in any field, whichever is newer.",
                      "format": "date-time",
                      "example": "2020-04-07T17:04:26Z"
                    }
                  },
                  "required": [
                    "mode",
                    "heatSetpoint",
                    "coolSetpoint",
                    "holdType",
                    "lastUpdated"
                  ],
                  "additionalProperties": false,
                  "description": "Latest information about the thermostat state. `null` values indicate we are unable to determine a value for the field based on the information coming from the vendor."
                },
                "scopes": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "description": "Scopes that the user has granted for this HVAC unit.",
                  "example": [
                    "hvac:control:mode",
                    "hvac:read:data"
                  ]
                },
                "capabilities": {
                  "type": "object",
                  "properties": {
                    "capableModes": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "$ref": "#/components/schemas/HvacMode"
                      },
                      "description": "A list of valid modes for this HVAC unit."
                    },
                    "coolSetpointRange": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/NullableTemperatureRange"
                        },
                        {
                          "description": "The range of allowable values for `coolSetpoint`."
                        }
                      ]
                    },
                    "heatSetpointRange": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/NullableTemperatureRange"
                        },
                        {
                          "description": "The range of allowable values for `heatSetpoint`."
                        }
                      ]
                    },
                    "setpointDifferenceRange": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/NullableTemperatureDifferenceRange"
                        },
                        {
                          "description": "A constraint specifying the minimum and maximum allowable difference between `heatSetpoint` and `coolSetpoint`. Only applicable in `AUTO` mode."
                        }
                      ]
                    },
                    "setFollowSchedule": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Capability"
                        },
                        {
                          "description": "Supports following a schedule set on the device."
                        }
                      ]
                    },
                    "setPermanentHold": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Capability"
                        },
                        {
                          "description": "Supports setting a permanent hold."
                        }
                      ]
                    }
                  },
                  "required": [
                    "capableModes",
                    "coolSetpointRange",
                    "heatSetpointRange",
                    "setpointDifferenceRange",
                    "setFollowSchedule",
                    "setPermanentHold"
                  ],
                  "additionalProperties": false,
                  "description": "An object describing valid states for this HVAC unit."
                },
                "location": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uuid",
                      "description": "ID of the charging location the HVAC unit is housed at (if any)",
                      "example": "4eaeb363-296d-4ccc-a973-7805e6f400bd",
                      "x-format": {
                        "guid": true
                      }
                    }
                  },
                  "required": [
                    "id"
                  ],
                  "additionalProperties": false
                }
              },
              "required": [
                "id",
                "userId",
                "vendor",
                "lastSeen",
                "isReachable",
                "consumptionRate",
                "information",
                "temperatureState",
                "thermostatState",
                "scopes",
                "capabilities",
                "location"
              ],
              "additionalProperties": false,
              "example": {
                "id": "8f39fa8d-8f10-4984-a319-741dc23848c0",
                "userId": "17d9f847-8a1c-4158-adaa-4911a7acd5f9",
                "vendor": "ADAX",
                "lastSeen": "2020-04-07T17:04:26.000Z",
                "isReachable": true,
                "consumptionRate": 1.8,
                "information": {
                  "brand": "ADAX",
                  "model": "Neo Wi-Fi Skirting",
                  "displayName": "Bedroom Panel Heater",
                  "groupName": "Bedroom",
                  "category": "HEATING"
                },
                "location": {
                  "id": "8d90101b-3f2f-462a-bbb4-1ed320d33bbe"
                },
                "capabilities": {
                  "capableModes": [
                    "HEAT",
                    "COOL",
                    "OFF"
                  ],
                  "coolSetpointRange": {
                    "min": 15,
                    "max": 25
                  },
                  "heatSetpointRange": {
                    "min": 15,
                    "max": 25
                  },
                  "setpointDifferenceRange": {
                    "min": 15,
                    "max": 25
                  },
                  "setFollowSchedule": {
                    "isCapable": true,
                    "interventionIds": []
                  },
                  "setPermanentHold": {
                    "isCapable": true,
                    "interventionIds": []
                  }
                },
                "thermostatState": {
                  "mode": "HEAT",
                  "heatSetpoint": 22,
                  "coolSetpoint": 24,
                  "holdType": "PERMANENT",
                  "lastUpdated": "2020-04-07T17:04:26.000Z"
                },
                "temperatureState": {
                  "currentTemperature": 20.8,
                  "isActive": true,
                  "lastUpdated": "2020-04-07T17:03:26.000Z"
                },
                "scopes": [
                  "hvac:control:mode",
                  "hvac:read:data"
                ]
              }
            },
            "description": "List of paginated HVAC units"
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationCursors"
          }
        },
        "required": [
          "data",
          "pagination"
        ],
        "additionalProperties": false,
        "description": "Paginated response of HVAC units"
      },
      "hvacUpdatePayload": {
        "type": "object",
        "properties": {
          "locationId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "example": "4eaeb363-296d-4ccc-a973-7805e6f400bd",
            "x-format": {
              "guid": true
            }
          }
        },
        "required": [
          "locationId"
        ],
        "additionalProperties": false
      },
      "CoolTargetState": {
        "type": "object",
        "properties": {
          "coolSetpoint": {
            "type": "number"
          },
          "mode": {
            "type": "string",
            "enum": [
              "COOL"
            ]
          },
          "holdType": {
            "type": "string",
            "enum": [
              "PERMANENT"
            ]
          }
        },
        "required": [
          "coolSetpoint",
          "mode",
          "holdType"
        ],
        "additionalProperties": false,
        "description": "Target mode for an HVAC unit",
        "title": "COOL"
      },
      "HeatTargetState": {
        "type": "object",
        "properties": {
          "heatSetpoint": {
            "type": "number"
          },
          "mode": {
            "type": "string",
            "enum": [
              "HEAT"
            ]
          },
          "holdType": {
            "type": "string",
            "enum": [
              "PERMANENT"
            ]
          }
        },
        "required": [
          "heatSetpoint",
          "mode",
          "holdType"
        ],
        "additionalProperties": false,
        "description": "Target mode for an HVAC unit",
        "title": "HEAT"
      },
      "AutoTargetState": {
        "type": "object",
        "properties": {
          "coolSetpoint": {
            "type": "number"
          },
          "heatSetpoint": {
            "type": "number"
          },
          "mode": {
            "type": "string",
            "enum": [
              "AUTO"
            ]
          },
          "holdType": {
            "type": "string",
            "enum": [
              "PERMANENT"
            ]
          }
        },
        "required": [
          "coolSetpoint",
          "heatSetpoint",
          "mode",
          "holdType"
        ],
        "additionalProperties": false,
        "description": "Target mode for an HVAC unit",
        "title": "AUTO"
      },
      "OffTargetState": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "OFF"
            ]
          },
          "holdType": {
            "type": "string",
            "enum": [
              "PERMANENT"
            ]
          }
        },
        "required": [
          "mode",
          "holdType"
        ],
        "additionalProperties": false,
        "description": "Target mode for an HVAC unit",
        "title": "OFF"
      },
      "PermanentHoldTargetState": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/CoolTargetState"
          },
          {
            "$ref": "#/components/schemas/HeatTargetState"
          },
          {
            "$ref": "#/components/schemas/AutoTargetState"
          },
          {
            "$ref": "#/components/schemas/OffTargetState"
          }
        ],
        "discriminator": {
          "propertyName": "mode",
          "mapping": {
            "COOL": "#/components/schemas/CoolTargetState",
            "HEAT": "#/components/schemas/HeatTargetState",
            "AUTO": "#/components/schemas/AutoTargetState",
            "OFF": "#/components/schemas/OffTargetState"
          }
        },
        "title": "Permanent Hold"
      },
      "HvacActionPermanentHold": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The ID of the action.",
            "example": "4eaeb363-296d-4ccc-a973-7805e6f400bd",
            "x-format": {
              "guid": true
            }
          },
          "userId": {
            "type": "string",
            "description": "The ID of the user that owns the target of this action.",
            "example": "d5bd4771-864e-4ae5-b913-dfb5cdcd5772"
          },
          "createdAt": {
            "type": "string",
            "description": "Time when this action was created",
            "format": "date-time",
            "example": "2020-04-07T17:04:26Z"
          },
          "updatedAt": {
            "type": "string",
            "description": "Time when this action was last updated",
            "format": "date-time",
            "example": "2020-04-07T17:04:26Z"
          },
          "completedAt": {
            "type": [
              "string",
              "null"
            ],
            "description": "Time when the action transitioned to a non-pending state.",
            "format": "date-time",
            "example": "2020-04-07T17:04:26Z"
          },
          "state": {
            "$ref": "#/components/schemas/ActionState"
          },
          "targetId": {
            "type": "string",
            "description": "ID of the entity asset (HVAC) which this action is controlling."
          },
          "targetType": {
            "type": "string",
            "enum": [
              "hvac"
            ]
          },
          "target": {
            "$ref": "#/components/schemas/PermanentHoldTargetState"
          }
        },
        "required": [
          "id",
          "userId",
          "createdAt",
          "updatedAt",
          "completedAt",
          "state",
          "targetId",
          "targetType",
          "target"
        ],
        "additionalProperties": false,
        "title": "Permanent Hold Action"
      },
      "ScheduledTargetState": {
        "type": "object",
        "properties": {
          "holdType": {
            "type": "string",
            "enum": [
              "SCHEDULED"
            ]
          }
        },
        "required": [
          "holdType"
        ],
        "additionalProperties": false,
        "title": "Follow Device Schedule"
      },
      "HvacActionFollowSchedule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The ID of the action.",
            "example": "4eaeb363-296d-4ccc-a973-7805e6f400bd",
            "x-format": {
              "guid": true
            }
          },
          "userId": {
            "type": "string",
            "description": "The ID of the user that owns the target of this action.",
            "example": "d5bd4771-864e-4ae5-b913-dfb5cdcd5772"
          },
          "createdAt": {
            "type": "string",
            "description": "Time when this action was created",
            "format": "date-time",
            "example": "2020-04-07T17:04:26Z"
          },
          "updatedAt": {
            "type": "string",
            "description": "Time when this action was last updated",
            "format": "date-time",
            "example": "2020-04-07T17:04:26Z"
          },
          "completedAt": {
            "type": [
              "string",
              "null"
            ],
            "description": "Time when the action transitioned to a non-pending state.",
            "format": "date-time",
            "example": "2020-04-07T17:04:26Z"
          },
          "state": {
            "$ref": "#/components/schemas/ActionState"
          },
          "targetId": {
            "type": "string",
            "description": "ID of the entity asset (HVAC) which this action is controlling."
          },
          "targetType": {
            "type": "string",
            "enum": [
              "hvac"
            ]
          },
          "target": {
            "$ref": "#/components/schemas/ScheduledTargetState"
          }
        },
        "required": [
          "id",
          "userId",
          "createdAt",
          "updatedAt",
          "completedAt",
          "state",
          "targetId",
          "targetType",
          "target"
        ],
        "additionalProperties": false,
        "title": "Follow Schedule Action"
      },
      "HvacAction": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/HvacActionPermanentHold"
          },
          {
            "$ref": "#/components/schemas/HvacActionFollowSchedule"
          }
        ]
      },
      "CoolPermanentHold": {
        "type": "object",
        "properties": {
          "coolSetpoint": {
            "type": "number"
          },
          "mode": {
            "type": "string",
            "enum": [
              "COOL"
            ]
          }
        },
        "required": [
          "coolSetpoint",
          "mode"
        ],
        "additionalProperties": false,
        "description": "Target mode for an HVAC unit",
        "title": "COOL"
      },
      "HeatPermanentHold": {
        "type": "object",
        "properties": {
          "heatSetpoint": {
            "type": "number"
          },
          "mode": {
            "type": "string",
            "enum": [
              "HEAT"
            ]
          }
        },
        "required": [
          "heatSetpoint",
          "mode"
        ],
        "additionalProperties": false,
        "description": "Target mode for an HVAC unit",
        "title": "HEAT"
      },
      "AutoPermanentHold": {
        "type": "object",
        "properties": {
          "coolSetpoint": {
            "type": "number"
          },
          "heatSetpoint": {
            "type": "number"
          },
          "mode": {
            "type": "string",
            "enum": [
              "AUTO"
            ]
          }
        },
        "required": [
          "coolSetpoint",
          "heatSetpoint",
          "mode"
        ],
        "additionalProperties": false,
        "description": "Target mode for an HVAC unit",
        "title": "AUTO"
      },
      "OffPermanentHold": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "OFF"
            ]
          }
        },
        "required": [
          "mode"
        ],
        "additionalProperties": false,
        "description": "Target mode for an HVAC unit",
        "title": "OFF"
      },
      "HVACSetPermanentHoldPayload": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/CoolPermanentHold"
          },
          {
            "$ref": "#/components/schemas/HeatPermanentHold"
          },
          {
            "$ref": "#/components/schemas/AutoPermanentHold"
          },
          {
            "$ref": "#/components/schemas/OffPermanentHold"
          }
        ],
        "discriminator": {
          "propertyName": "mode",
          "mapping": {
            "COOL": "#/components/schemas/CoolPermanentHold",
            "HEAT": "#/components/schemas/HeatPermanentHold",
            "AUTO": "#/components/schemas/AutoPermanentHold",
            "OFF": "#/components/schemas/OffPermanentHold"
          }
        },
        "title": "Permanent Hold"
      },
      "VendorType": {
        "type": "string",
        "enum": [
          "vehicle",
          "charger",
          "hvac",
          "inverter",
          "battery",
          "meter"
        ],
        "example": "vehicle"
      },
      "InverterVendor": {
        "type": "string",
        "enum": [
          "AFORE",
          "APSYSTEMS",
          "CSISolar",
          "Deye",
          "ENPHASE",
          "FOXESS",
          "FRONIUS",
          "GIVENERGY",
          "GOODWE",
          "GROWATT",
          "Hoymiles",
          "HUAWEI",
          "INVT",
          "SMA",
          "SOFAR",
          "SOLAREDGE",
          "SOLARK",
          "SOLAX",
          "SOLIS",
          "SOLPLANET",
          "SUNGROW",
          "SUNSYNK",
          "TESLA",
          "TSUN"
        ],
        "description": "Machine-friendly name of the vendor. Use this in API requests.",
        "example": "ENPHASE"
      },
      "VehicleVendor": {
        "type": "string",
        "enum": [
          "ACURA",
          "AUDI",
          "BMW",
          "HONDA",
          "HYUNDAI",
          "JAGUAR",
          "LANDROVER",
          "KIA",
          "MERCEDES",
          "MINI",
          "NISSAN",
          "PEUGEOT",
          "PORSCHE",
          "RENAULT",
          "SEAT",
          "SKODA",
          "TESLA",
          "VOLKSWAGEN",
          "VOLVO",
          "FORD",
          "OPEL",
          "DS",
          "TOYOTA",
          "LEXUS",
          "CITROEN",
          "CUPRA",
          "VAUXHALL",
          "FIAT",
          "RIVIAN",
          "NIO",
          "CHEVROLET",
          "GMC",
          "CADILLAC",
          "XPENG",
          "POLESTAR",
          "SUBARU",
          "JEEP",
          "MAZDA",
          "MG",
          "CHRYSLER",
          "DODGE",
          "RAM",
          "ALFAROMEO",
          "LANCIA",
          "LUCID",
          "BYD",
          "DACIA",
          "ALPINE"
        ],
        "description": "Machine-friendly name of the vendor. Use this in API requests.",
        "example": "TESLA"
      },
      "MeterVendor": {
        "type": "string",
        "enum": [
          "ENPHASE",
          "GIVENERGY",
          "HUAWEI",
          "TESLA",
          "SMA",
          "SOLAREDGE",
          "FOXESS",
          "SOLAX",
          "SOLIS"
        ],
        "description": "Machine-friendly name of the vendor. Use this in API requests.",
        "example": "TESLA"
      },
      "Intervention": {
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "example": "9d90a9ad-9b24-4ce0-94e9-e888b1b877f4",
                "x-format": {
                  "guid": true
                }
              },
              "vendor": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/InverterVendor"
                  },
                  {
                    "$ref": "#/components/schemas/VehicleVendor"
                  },
                  {
                    "$ref": "#/components/schemas/HvacVendor"
                  },
                  {
                    "$ref": "#/components/schemas/ChargerVendor"
                  },
                  {
                    "$ref": "#/components/schemas/BatteryVendor"
                  },
                  {
                    "$ref": "#/components/schemas/MeterVendor"
                  }
                ],
                "description": "Machine-friendly representation of the OEM's name.",
                "example": "AUDI"
              },
              "vendorType": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/VendorType"
                  },
                  {
                    "description": "Type of device this intervention relates to."
                  }
                ]
              },
              "brand": {
                "$ref": "#/components/schemas/Brand"
              },
              "introducedAt": {
                "type": "string",
                "format": "date-time",
                "description": "ISO8601 UTC timestamp of when the intervention was introduced.",
                "example": "2023-03-16T00:00:00Z"
              },
              "domain": {
                "type": "string",
                "enum": [
                  "Account",
                  "Device"
                ],
                "description": "The domain the intervention is related to. i.e. Is the intervention related to the vendor service account or a setting on the device.",
                "example": "Account"
              },
              "resolution": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "A localized title for the intervention.",
                    "example": "Accept the Audi terms and conditions"
                  },
                  "description": {
                    "type": "string",
                    "description": "A localized description of how to resolve the intervention. Formatted as Markdown.",
                    "example": "To gain access to your vehicle's telemetry data, it's necessary to accept Audi's terms and conditions. Follow these steps to proceed:<br><br>1. Open the **myAudi app** on your phone<br>2. Follow the prompts to accept Audi's terms and conditions"
                  },
                  "access": {
                    "type": "string",
                    "enum": [
                      "Remote",
                      "Physical"
                    ],
                    "description": "Where the intervention needs to be resolved. i.e. remotely using the vendor's app or directly on the device.",
                    "example": "Remote"
                  },
                  "agent": {
                    "type": "string",
                    "enum": [
                      "User",
                      "ThirdParty"
                    ],
                    "description": "Who can resolve the intervention. i.e. a user can resolve the intervention themselves, or a licensed service retailer is needed.",
                    "example": "User"
                  },
                  "action": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "Link"
                    ],
                    "description": "If non null, the action to be taken by the user to resolve the intervention. See our guide on [resolving interventions](https://developers.enode.com/docs/link-ui/relinking) for more information.",
                    "example": "Link"
                  }
                },
                "required": [
                  "title",
                  "description",
                  "access",
                  "agent",
                  "action"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "id",
              "vendor",
              "vendorType",
              "brand",
              "introducedAt",
              "domain",
              "resolution"
            ],
            "additionalProperties": false,
            "title": "Integration intervention"
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "example": "9d90a9ad-9b24-4ce0-94e9-e888b1b877f4",
                "x-format": {
                  "guid": true
                }
              },
              "vendor": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/InverterVendor"
                  },
                  {
                    "$ref": "#/components/schemas/VehicleVendor"
                  },
                  {
                    "$ref": "#/components/schemas/HvacVendor"
                  },
                  {
                    "$ref": "#/components/schemas/ChargerVendor"
                  },
                  {
                    "$ref": "#/components/schemas/BatteryVendor"
                  },
                  {
                    "$ref": "#/components/schemas/MeterVendor"
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "A null value indicates that this intervention is not specific to a single brand or device type.",
                "example": null
              },
              "vendorType": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/VendorType"
                  },
                  {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "A null value indicates that this intervention is not specific to a single brand or device type.",
                    "example": null
                  }
                ]
              },
              "brand": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Brand"
                  },
                  {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "A null value indicates that this intervention is not specific to a single brand or device type.",
                    "example": null
                  }
                ]
              },
              "introducedAt": {
                "type": "string",
                "format": "date-time",
                "description": "ISO8601 UTC timestamp of when the intervention was introduced.",
                "example": "2023-03-16T00:00:00Z"
              },
              "domain": {
                "type": "string",
                "enum": [
                  "Account",
                  "Device"
                ],
                "description": "The domain the intervention is related to. i.e. Is the intervention related to the vendor service account or a setting on the device.",
                "example": "Account"
              },
              "resolution": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "A localized title for the intervention.",
                    "example": "Accept the Audi terms and conditions"
                  },
                  "description": {
                    "type": "string",
                    "description": "A localized description of how to resolve the intervention. Formatted as Markdown.",
                    "example": "To gain access to your vehicle's telemetry data, it's necessary to accept Audi's terms and conditions. Follow these steps to proceed:<br><br>1. Open the **myAudi app** on your phone<br>2. Follow the prompts to accept Audi's terms and conditions"
                  },
                  "access": {
                    "type": "string",
                    "enum": [
                      "Remote",
                      "Physical"
                    ],
                    "description": "Where the intervention needs to be resolved. i.e. remotely using the vendor's app or directly on the device.",
                    "example": "Remote"
                  },
                  "agent": {
                    "type": "string",
                    "enum": [
                      "User",
                      "ThirdParty"
                    ],
                    "description": "Who can resolve the intervention. i.e. a user can resolve the intervention themselves, or a licensed service retailer is needed.",
                    "example": "User"
                  },
                  "action": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "Link"
                    ],
                    "description": "If non null, the action to be taken by the user to resolve the intervention. See our guide on [resolving interventions](https://developers.enode.com/docs/link-ui/relinking) for more information.",
                    "example": "Link"
                  }
                },
                "required": [
                  "title",
                  "description",
                  "access",
                  "agent",
                  "action"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "id",
              "vendor",
              "vendorType",
              "brand",
              "introducedAt",
              "domain",
              "resolution"
            ],
            "additionalProperties": false,
            "title": "Integration-agnostic intervention"
          }
        ]
      },
      "InterventionsList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Intervention"
        }
      },
      "InverterProductionState": {
        "type": "object",
        "properties": {
          "productionRate": {
            "type": [
              "number",
              "null"
            ],
            "description": "The current production rate in kW."
          },
          "isProducing": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether the solar inverter is actively producing energy or not."
          },
          "totalLifetimeProduction": {
            "type": [
              "number",
              "null"
            ],
            "description": "The total lifetime production in kWh.",
            "example": 100152.56
          },
          "lastUpdated": {
            "type": [
              "string",
              "null"
            ],
            "description": "Time of last received production state update",
            "format": "date-time",
            "example": "2020-04-07T17:04:26Z"
          }
        },
        "required": [
          "productionRate",
          "isProducing",
          "totalLifetimeProduction",
          "lastUpdated"
        ],
        "additionalProperties": false,
        "description": "Latest information about solar production. `null` values indicate we are unable to determine a value for the field based on the information coming from the vendor."
      },
      "InverterCapabilities": {
        "type": "object",
        "properties": {
          "productionState": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Capability"
              },
              {
                "description": "Full availability of productionState data."
              }
            ]
          },
          "productionStatistics": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Capability"
              },
              {
                "description": "Availability of production statistics directly from the vendor."
              }
            ]
          }
        },
        "required": [
          "productionState",
          "productionStatistics"
        ],
        "additionalProperties": false,
        "description": "A collection of descriptors that describe the capabilities of this specific inverter.\n\nNote: [Sample-based statistics](/api/reference#getProductionStatistics) collected by Enode rely on the `productionState` capability and are not affected by this capability."
      },
      "InverterInformation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Solar inverter vendor ID",
            "example": "7a18eb4e-ee65-4d5b-bb7c-d8e530006b18"
          },
          "sn": {
            "type": [
              "string",
              "null"
            ],
            "description": "Solar inverter serial number",
            "example": "A123456789"
          },
          "brand": {
            "$ref": "#/components/schemas/Brand"
          },
          "model": {
            "type": "string",
            "description": "Solar inverter model",
            "example": "Sunny Boy"
          },
          "siteName": {
            "type": "string",
            "description": "Name of the site, as set by the user on the device/vendor. If no user-specified name is available, we construct a fallback name using the vendor/device/model names.",
            "example": "Sunny Plant"
          },
          "installationDate": {
            "type": "string",
            "description": "Solar inverter installation date",
            "format": "date-time",
            "example": "2020-04-07T17:04:26Z"
          }
        },
        "required": [
          "id",
          "sn",
          "brand",
          "model",
          "siteName",
          "installationDate"
        ],
        "additionalProperties": false,
        "description": "Descriptive information about the solar inverter"
      },
      "InverterLocation": {
        "type": "object",
        "properties": {
          "id": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid",
            "description": "ID of the location the solar inverter is currently positioned at (if any).",
            "example": "8d90101b-3f2f-462a-bbb4-1ed320d33bbe",
            "x-format": {
              "guid": true
            }
          },
          "longitude": {
            "type": [
              "number",
              "null"
            ],
            "description": "Longitude in degrees",
            "example": 10.7197486
          },
          "latitude": {
            "type": [
              "number",
              "null"
            ],
            "description": "Latitude in degrees",
            "example": 59.9173985
          },
          "lastUpdated": {
            "type": [
              "string",
              "null"
            ],
            "description": "Time of last received location state update",
            "format": "date-time",
            "example": "2020-04-07T17:04:26Z"
          }
        },
        "required": [
          "id",
          "longitude",
          "latitude",
          "lastUpdated"
        ],
        "additionalProperties": false,
        "description": "Solar inverter's GPS coordinates"
      },
      "Inverter": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Solar Inverter ID",
            "example": "195d8649-ad12-4755-a9cc-44e2d40ce4d9"
          },
          "userId": {
            "type": "string",
            "description": "The ID of the user that linked this inverter.",
            "example": "f9d9b134-05f3-452a-80aa-be0deb22f492"
          },
          "vendor": {
            "$ref": "#/components/schemas/InverterVendor"
          },
          "lastSeen": {
            "type": "string",
            "description": "The last time Enode received live data or when the solar inverter was initially linked.",
            "format": "date-time",
            "example": "2020-04-07T17:04:26Z"
          },
          "isReachable": {
            "type": "boolean",
            "description": "Indicates whether Enode can currently access live data from the inverter. If the inverter is not reachable, data updates will be delayed."
          },
          "productionState": {
            "$ref": "#/components/schemas/InverterProductionState"
          },
          "timezone": {
            "type": [
              "string",
              "null"
            ],
            "description": "IANA TZ database timezone name representing the location of this inverter.",
            "example": "Europe/Oslo"
          },
          "capabilities": {
            "$ref": "#/components/schemas/InverterCapabilities"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Scopes that the user has granted for this inverter.",
            "example": [
              "inverter:read:data",
              "inverter:read:location"
            ]
          },
          "information": {
            "$ref": "#/components/schemas/InverterInformation"
          },
          "location": {
            "$ref": "#/components/schemas/InverterLocation"
          }
        },
        "required": [
          "id",
          "userId",
          "vendor",
          "lastSeen",
          "isReachable",
          "productionState",
          "timezone",
          "capabilities",
          "scopes",
          "information",
          "location"
        ],
        "additionalProperties": false,
        "description": "Solar inverter object"
      },
      "PaginatedInverterList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Inverter"
            },
            "description": "Paginated list of solar inverters"
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationCursors"
          }
        },
        "required": [
          "data",
          "pagination"
        ],
        "additionalProperties": false,
        "description": "Paginated response of solar inverters"
      },
      "LocationResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "User-supplied name for the Location",
            "example": "Enode"
          },
          "latitude": {
            "type": "number",
            "description": "Latitude in degrees",
            "example": 59.9165915
          },
          "longitude": {
            "type": "number",
            "description": "Longitude in degrees",
            "example": 10.7582268
          },
          "timezoneName": {
            "type": "string",
            "default": "UTC",
            "description": "An IANA TZ database timezone name. This value will be used to convert rules and deadlines for tariffs, smart charging, and schedules into local time. Defaults to `UTC`.",
            "example": "Europe/Oslo"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "The ID of the Location.",
            "example": "4eaeb363-296d-4ccc-a973-7805e6f400bd",
            "x-format": {
              "guid": true
            }
          },
          "userId": {
            "type": "string",
            "description": "User ID the location belongs to",
            "example": "0fc4b1e7-9bdf-4958-b343-86eff3d9f92f"
          }
        },
        "required": [
          "name",
          "latitude",
          "longitude",
          "id",
          "userId"
        ],
        "additionalProperties": false
      },
      "PaginatedLocationList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LocationResponse"
            },
            "description": "Paginated list of locations"
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationCursors"
          }
        },
        "required": [
          "data",
          "pagination"
        ],
        "additionalProperties": false,
        "description": "Paginated response of locations"
      },
      "PartialLocation": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "User-supplied name for the Location",
            "example": "Enode"
          },
          "latitude": {
            "type": "number",
            "description": "Latitude in degrees",
            "example": 59.9165915
          },
          "longitude": {
            "type": "number",
            "description": "Longitude in degrees",
            "example": 10.7582268
          },
          "timezoneName": {
            "type": "string",
            "default": "UTC",
            "description": "An IANA TZ database timezone name. This value will be used to convert rules and deadlines for tariffs, smart charging, and schedules into local time. Defaults to `UTC`.",
            "example": "Europe/Oslo"
          }
        },
        "additionalProperties": false
      },
      "LocationPayload": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/PartialLocation"
          },
[...]
